<div class="row">
  <div class="col-lg-6">
      <dashboard-users></dashboard-users>  
  </div>
  <div class="col-lg-6">
    <div class="component">
      <div class="header">
        <h2>This Week's Visitors</h2>
      </div>
      <div class="content">
        <div class="col-lg-6 centered">
          <h5>Desktop: <span>3400</span> users</h5>
        </div>
        <div class="col-lg-6 centered">
          <h5>Tablet: <span>2344</span> users</h5>
        </div>
        <div class="col-lg-6 centered">
          <h5>Mobile: <span>1900</span> users</h5>
        </div>
        <div class="col-lg-6 centered">
          <h5>Other: <span>520</span> users</h5>
        </div>

        <div class="clear-line"></div>
        <canvas id="bar" class="chart chart-line"
          chart-data="$ctrl.stats.today" chart-labels="$ctrl.stats.todayLabels" chart-options="$ctrl.stats.barOptions" chart-series="$ctrl.stats.series" chart-legend="true">
        </canvas>
      </div>
    </div>
  </div>  
</div>
