/*
* All the colours for the site are defined here
*/
$dark-gray: #2D3E4E;
$footer-gray: #FAFAFA;
$light-blue: #00CCFF;
$pale-white: #F5F5F1;
$light-gray: #9A9A9A;
$dark-purple: #2E3144;
$purple-hover: #272938;
$dark-blue: #265778;
$admin-logo: #272938;
$admin-background: #F1F5F8;

$twitter: #1DA1F2;
$facebook: #3B5998;
$youtube: #DC4E41;
$github: #333333;

.facebook{
    background-color: #3B5998;
}

.github{
    background-color: #333333;
}

.twitter{
    background-color: #55ACEE;
}

.google-plus{
    background-color: #DB4437;
}
