/*
* All the colours for the site are defined here
*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.facebook {
  background-color: #3B5998; }

.github {
  background-color: #333333; }

.twitter {
  background-color: #55ACEE; }

.google-plus {
  background-color: #DB4437; }

/*
* All the colours for the site are defined here
*/
.facebook {
  background-color: #3B5998; }

.github {
  background-color: #333333; }

.twitter {
  background-color: #55ACEE; }

.google-plus {
  background-color: #DB4437; }

.homepage-cont {
  min-height: 600px; }
  @media (max-width: 37.5em) {
    .homepage-cont {
      width: 90%; } }
  @media (min-width: 37.5em) {
    .homepage-cont {
      width: 90%; } }
  @media (min-width: 50em) {
    .homepage-cont {
      width: 80%; } }
  @media (min-width: 64em) {
    .homepage-cont {
      width: 80%; } }

.course-container {
  margin-top: 40px; }
  .course-container figure.snip1253 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .course-container figure.snip1253 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .course-container figure.snip1253 .image {
    max-height: 220px;
    overflow: hidden; }
  .course-container figure.snip1253 img {
    max-width: 100%;
    vertical-align: top;
    position: relative; }
  .course-container figure.snip1253 figcaption {
    margin: -40px 15px 0;
    padding: 15px;
    height: 180px;
    position: relative;
    background-color: #ffffff; }
  .course-container figure.snip1253 .date {
    background-color: #2980b9;
    top: 15px;
    color: #fff;
    left: 15px;
    min-height: 48px;
    min-width: 48px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  .course-container figure.snip1253 .date span {
    display: block;
    line-height: 24px; }
  .course-container figure.snip1253 .date .month {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1); }
  .course-container figure.snip1253 h3,
  .course-container figure.snip1253 p {
    margin: 0;
    padding: 0;
    /* fallback */ }
  .course-container figure.snip1253 h3 {
    min-height: 50px;
    margin-bottom: 10px;
    margin-left: 60px;
    font-size: 22px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase; }
  .course-container figure.snip1253 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: 1.6em;
    /* fallback */
    max-height: 20; }
  .course-container figure.snip1253 footer {
    padding: 0 25px;
    background-color: #20638f;
    color: #e6e6e6;
    font-size: 0.8em;
    line-height: 30px;
    text-align: right; }
  .course-container figure.snip1253 footer > div {
    display: inline-block;
    margin-left: 10px; }
  .course-container figure.snip1253 footer i {
    color: rgba(255, 255, 255, 0.2);
    margin-right: 5px; }
  .course-container figure.snip1253 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1; }
  .course-container figure.snip1253:hover img,
  .course-container figure.snip1253.hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }

.gray-container {
  background-color: #F5F5F1;
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .gray-container .promo {
    text-align: center; }
    .gray-container .promo h5 {
      font-weight: 800; }
    .gray-container .promo p {
      font-weight: 300; }
    .gray-container .promo i {
      margin: 40px 0;
      color: #00CCFF;
      font-size: 7rem;
      display: block; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #F5F8F9;
  color: #444;
  font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 37.5em) {
    body p, body ul, body li, body a {
      font-size: 16px;
      line-height: 1.5; } }
  @media (min-width: 37.5em) {
    body p, body ul, body li, body a {
      font-size: 16px;
      line-height: 1.5; } }
  @media (min-width: 50em) {
    body p, body ul, body li, body a {
      font-size: 16px;
      line-height: 1.5; } }
  @media (min-width: 64em) {
    body p, body ul, body li, body a {
      font-size: 16px;
      line-height: 1.5; } }

li.profile {
  position: relative;
  display: inline-block; }

.online-dot {
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background-color: #35CF65;
  border-radius: 4px; }

.profile-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #363F51;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 200;
  -webkit-transition: height 2s;
  /* For Safari 3.1 to 6.0 */
  transition: height 2s; }
  .profile-content .border-bottom {
    border-bottom: 1px solid #293244; }
  .profile-content h5 {
    font-size: 17px;
    font-weight: 800;
    margin-left: 10px; }
    .profile-content h5 span {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
      background-color: #ED7374;
      border-radius: 5px;
      padding: 3px; }
  .profile-content h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 300; }
    .profile-content h3 small {
      font-size: 15px;
      font-weight: 400; }
  .profile-content .logout a {
    margin-bottom: 20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    font-size: 15px;
    font-weight: 600;
    margin-top: -10px; }
    .profile-content .logout a i {
      padding: 0;
      margin: 0;
      font-size: 15px;
      color: #49B1E5; }
  .profile-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-y: scroll;
    width: 100%; }
    .profile-content ul li {
      width: 100%; }
    .profile-content ul li a {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      height: auto;
      border-bottom: 1px solid #293244; }
      .profile-content ul li a .date {
        margin: 0;
        padding: 0;
        color: #7D8893;
        font-size: 12px; }
      .profile-content ul li a .header {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 0; }
      .profile-content ul li a .message-icon {
        background-color: #293343;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        float: left;
        margin-right: 20px; }
        .profile-content ul li a .message-icon i {
          padding: 6px;
          margin-left: 2px;
          color: #586272;
          line-height: 0px; }

li.profile:hover .profile-content {
  display: block;
  opacity: 1; }

nav {
  margin-bottom: 20px; }
  nav .nav-wrapper {
    background-color: #1D3B5A; }
  nav .button-collapse {
    padding-left: 10px; }
  nav .github-signin {
    background-color: #00CCFF;
    border-radius: 5px; }
  nav ul a {
    padding-top: 13px;
    font-size: 16px;
    height: 51px; }
  nav .brand-logo {
    font-style: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    weight: 800;
    margin-left: 20px;
    weight: 800; }
    @media (max-width: 37.5em) {
      nav .brand-logo {
        margin-top: 10px; } }
    nav .brand-logo span {
      color: #1EC4D6; }
  nav .tab-nav {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    background-color: #3A5E83; }
    nav .tab-nav .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: block;
      float: left;
      text-align: center;
      line-height: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      letter-spacing: .8px;
      width: 15%;
      min-width: 80px; }
      nav .tab-nav .tab img {
        width: 15px;
        height: auto; }
      nav .tab-nav .tab a:hover {
        color: #4C7198;
        color: white; }
      nav .tab-nav .tab a {
        border-bottom: 2px solid #1EC4D6 !important;
        color: white;
        display: block;
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .28s ease; }

.banner {
  margin-top: -40px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../uploads/blueprint.png) top center #4C7198; }
  .banner .banner-cont {
    margin: auto;
    width: 80%;
    text-align: center; }
    .banner .banner-cont .element {
      font-weight: 800; }
    .banner .banner-cont h1 {
      margin-bottom: 23px;
      font-family: Circular, sans-serif;
      color: #fff;
      font-weight: 400;
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      font-weight: 600;
      letter-spacing: -0.01em; }
    .banner .banner-cont h3 {
      font-size: 20px;
      color: #97F1F1; }
    .banner .banner-cont .post-info {
      font-size: 18px;
      color: #C4CDCE; }
      .banner .banner-cont .post-info a {
        color: #C4CDCE; }
    .banner .banner-cont button.register-btn {
      background-color: #1EC4D6;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      height: 49px;
      padding-top: 11px;
      transition: all 100ms ease-in-out;
      font-family: Circular, sans-serif;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      margin-top: 20px; }

.flexbox-courses {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
  -webkit-align-content: space-around;
  /* Safari */
  align-content: space-around;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap; }

.course-box {
  max-width: 380px;
  height: 100%;
  background-color: white; }

.course-content {
  padding: 20px; }

.course-image img {
  height: auto;
  width: 100%; }

.course-action {
  height: 60px;
  padding: 20px;
  width: 100%; }

.content {
  min-height: 100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  line-height: 29px; }
  .content .header-image img {
    width: 100%;
    height: auto; }
  .content .post-image img {
    max-width: 360px; }
  .content .post-content img {
    -webkit-box-shadow: 0px 3px 10px 1px #666666;
    -moz-box-shadow: 0px 3px 10px 1px #666666;
    box-shadow: 0px 3px 10px 1px #666666;
    max-width: 650px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    display: block; }
  .content .amazon-link {
    margin: 20px 0px;
    padding: 30px 20px 30px 100px;
    background: #f8f8f8 url(../uploads/amazon.png) no-repeat 20px 50%;
    background-size: 65px 60px;
    background-repeat: no-repeat;
    font-weight: bold; }
  .content .recommended-articles {
    padding: 40px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px; }
    .content .recommended-articles h1 {
      font-size: 25px;
      margin: 0;
      padding: 0;
      margin-bottom: 20px; }
  .content .icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #112F5A;
    color: white;
    padding-top: 7px;
    font-size: 48px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
    .content .icon span {
      margin-left: 28px; }
  .content .chip {
    background-color: #00CCFF;
    color: white; }
  @media (max-width: 37.5em) {
    .content {
      width: 90%; }
      .content p {
        font-size: 16px; } }
  @media (min-width: 37.5em) {
    .content {
      width: 90%; } }
  @media (min-width: 50em) {
    .content {
      width: 80%; } }
  @media (min-width: 64em) {
    .content {
      width: 95%; } }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    font-weight: normal;
    font-family: 'Museo Slab','Helvetica','Arial',sans-serif;
    letter-spacing: -1px;
    line-height: 1.3;
    margin: 10px 0; }
  .content h1 {
    font-size: 55px; }
  .content h2 {
    font-size: 25px; }
  .content h3 {
    font-size: 22px;
    font-weight: normal; }
  .content h4 {
    font-size: 18px;
    font-weight: normal; }
  .content h5 {
    font-size: 20px; }
  .content .info {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #9A9A9A; }
    .content .info p {
      margin: 0;
      padding: 0; }
  .content .tip {
    background-color: #F5F5F1;
    padding: 20px;
    text-align: center; }
    .content .tip .large {
      font-size: 24px;
      font-weight: 800;
      width: 100%; }
  .content .post-body {
    background-color: white;
    padding: 40px; }
    .content .post-body .github-link {
      margin: 20px 0px;
      padding: 30px 20px 30px 100px;
      background: #f8f8f8 url(../uploads/github.png) no-repeat 20px 50%;
      font-weight: bold; }
    .content .post-body .note {
      margin: 20px 0px;
      padding: 30px 20px 30px 100px;
      background: #f8f8f8 url(../uploads/note.png) no-repeat 20px 50%;
      font-weight: bold; }
    .content .post-body blockquote {
      border-left: 4px solid #1EC4D6;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: -40px;
      margin-right: -40px;
      font-weight: bold;
      position: relative;
      overflow: visible;
      padding: 20px;
      white-space: pre;
      background-color: #D7F9FD; }
    .content .post-body blockquote::before {
      content: "";
      background-color: #1EC4D6;
      background-image: url(/images/code.svg);
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -21px;
      top: -20px;
      color: white;
      line-height: 0;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      font-size: 30px;
      font-weight: 700; }
    .content .post-body > p > code {
      background-color: #D7F9FD;
      border-radius: 5px;
      padding: 5px; }
    .content .post-body pre {
      border-left: 4px solid #1EC4D6;
      position: relative;
      overflow: visible;
      white-space: pre;
      word-wrap: normal;
      color: #C1C2C3;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: -40px;
      margin-right: -40px;
      padding: 40px;
      background-color: #272822; }
    .content .post-body pre > code {
      border-radius: 5px;
      padding: 5px; }
    .content .post-body pre::before {
      content: " ";
      background-color: #1EC4D6;
      background-image: url(/images/code.svg);
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -21px;
      top: -20px;
      color: white;
      line-height: 0;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      font-size: 30px;
      font-weight: 700; }
    .content .post-body img {
      max-width: 80%;
      height: auto;
      margin: auto; }
    .content .post-body .post-title .info {
      float: left;
      padding-top: 14px;
      text-align: center;
      min-width: 95px;
      float: left;
      display: block;
      font-size: 16px;
      color: #bababa;
      padding: 0px 12px; }
      .content .post-body .post-title .info span {
        display: inline;
        margin-left: 40px;
        margin-right: 40px; }
    .content .post-body .post-title h1 {
      margin-top: 0;
      font-size: 38px;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #ECEFF2; }
    .content .post-body h1 {
      font-size: 30px; }
    .content .post-body ul li {
      list-style-type: circle;
      margin-left: 40px; }
    .content .post-body .recommended-articles .article {
      width: 100%;
      padding: 20px;
      border: 1px solid #F5F5F1;
      margin-bottom: 20px; }
      .content .post-body .recommended-articles .article h2 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-size: 22px; }
      .content .post-body .recommended-articles .article p {
        color: #9A9A9A;
        text-overflow: ellipsis;
        font-size: 17px; }
      .content .post-body .recommended-articles .article .url {
        font-size: 14px; }
  .content .result {
    margin-bottom: 40px; }
    .content .result button {
      background-color: #00CCFF; }

.search .input-field input {
  font-size: 23px; }
.search .search-results .result {
  background-color: white; }

.comment-container {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px; }
  .comment-container .comments {
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 40px; }
    .comment-container .comments .comment {
      margin-top: 20px;
      padding: 20px;
      width: 100%;
      background-color: white; }
      .comment-container .comments .comment i.comment-icon {
        color: #00CCFF; }
      .comment-container .comments .comment button {
        background-color: #00CCFF; }
        .comment-container .comments .comment button i {
          color: white; }
      .comment-container .comments .comment .input-field label .active {
        color: #00CCFF; }
      .comment-container .comments .comment h5 {
        font-size: 16px; }
        .comment-container .comments .comment h5 a {
          color: #505b69;
          margin: 1em 0;
          line-height: 1.3em;
          font-weight: 600; }
        .comment-container .comments .comment h5 .time-since {
          color: #9ba6b5; }

footer.page-footer {
  background-color: white;
  color: #aeaeae;
  margin-top: 0; }
  footer.page-footer a {
    color: #525252; }
  footer.page-footer .footer-copyright {
    background-color: #FAFAFA;
    color: #525252; }

.clear {
  clear: both; }

.break {
  width: 100%;
  height: 40px;
  clear: both; }

.pagination {
  margin: auto; }

.center {
  text-align: center; }

.article-progress {
  background-color: #F2F2F2;
  width: 100%;
  padding: 20px; }
  @media (max-width: 37.5em) {
    .article-progress {
      display: none; } }
  @media (min-width: 37.5em) {
    .article-progress {
      display: none; } }
  @media (min-width: 50em) {
    .article-progress {
      display: block; } }
  @media (min-width: 64em) {
    .article-progress {
      display: block; } }

@media screen and (max-width: 1024px) {
  .left-sidebar {
    display: none !important; } }
.sidebar .twitter {
  background-color: #1DA1F2;
  width: 30px;
  height: 30px;
  border-radius: 15px; }
.sidebar .facebook {
  background-color: #3B5998;
  width: 30px;
  height: 30px;
  border-radius: 15px; }
.sidebar .youtube {
  background-color: #DC4E41;
  width: 30px;
  height: 30px;
  border-radius: 15px; }
.sidebar .github {
  background-color: #333333;
  width: 30px;
  height: 30px;
  border-radius: 15px; }
.sidebar .course-info {
  padding: 40px;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px; }
.sidebar .related-posts {
  background-color: white;
  padding: 40px; }
  .sidebar .related-posts h2 {
    margin: 0 0 2px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px; }
  .sidebar .related-posts .post {
    margin-bottom: 20px; }
    .sidebar .related-posts .post .post-link a h3 {
      margin: 0 0 2px;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #545454; }
    .sidebar .related-posts .post .post-image img {
      width: 100%;
      max-height: 100px; }
    .sidebar .related-posts .post p {
      color: #7a7a7a;
      margin: 0 0 35px;
      font-size: 16px;
      line-height: 24px; }
    .sidebar .related-posts .post .tags a {
      margin-right: 5px;
      color: #ababab; }
.sidebar .post-info {
  padding: 40px;
  background-color: white; }
  .sidebar .post-info .post-views {
    border-right: 1px solid #9c9c9c; }
  .sidebar .post-info .post-author {
    border-top: 1px solid #9c9c9c; }
  .sidebar .post-info .post-date {
    border-top: 1px solid #9c9c9c; }
.sidebar .left-sidebar-content {
  padding: 40px;
  background-color: white;
  margin-bottom: 40px; }
  .sidebar .left-sidebar-content p {
    color: #9A9A9A;
    text-align: center;
    margin-bottom: 20px; }
  .sidebar .left-sidebar-content h2 {
    text-align: center;
    font-weight: 800; }
  .sidebar .left-sidebar-content h4 {
    text-align: center;
    color: #A6A9AC; }
  .sidebar .left-sidebar-content img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 75px; }
.sidebar .post-info {
  text-align: center; }
  .sidebar .post-info span {
    color: #272822;
    font-weight: 600;
    font-size: 26px; }
    .sidebar .post-info span a {
      font-weight: 600;
      font-size: 26px; }
.sidebar .social-links {
  border-top: 1px solid #ECEFF2;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px; }
  .sidebar .social-links i {
    color: white; }
  .sidebar .social-links .twitter {
    background-color: #1DA1F2;
    width: 30px;
    height: 30px;
    border-radius: 15px; }
  .sidebar .social-links .facebook {
    background-color: #3B5998;
    width: 30px;
    height: 30px;
    border-radius: 15px; }
  .sidebar .social-links .youtube {
    background-color: #DC4E41;
    width: 30px;
    height: 30px;
    border-radius: 15px; }
  .sidebar .social-links .github {
    background-color: #333333;
    width: 30px;
    height: 30px;
    border-radius: 15px; }
.sidebar p {
  color: #9a9a9a; }
.sidebar .register .register-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  height: auto; }
  .sidebar .register .register-btn i {
    color: white;
    margin-right: 5px; }

.fixed {
  position: fixed;
  z-index: 10; }

/*# sourceMappingURL=front-end.css.map */
