@import "colours";
@import "grid";
@import "homepage";



body{
    -webkit-font-smoothing: antialiased;
    background-color: #F5F8F9;
    color: #444;
    font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    
    @include breakpoint(mobileonly){
        p, ul, li, a{
            font-size: 16px;
            line-height: 1.5;
        }
    }
    
    @include breakpoint(phablet){
        p, ul, li, a{
            font-size: 16px;
            line-height: 1.5;
        }
    }
    
    @include breakpoint(tablet){
        p, ul, li, a{
            font-size: 16px;
            line-height: 1.5;
        }
    }
    @include breakpoint(laptop){
        p, ul, li, a{
            font-size: 16px;
            line-height: 1.5;
        }
    }
    
}

li.profile {
    position: relative;
    display: inline-block;
}

.online-dot {
    float: left;
    margin-top: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    background-color: #35CF65;
    border-radius: 4px;
}

.profile-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #363F51;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 200;
    -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    .border-bottom {
        border-bottom: 1px solid #293244;
    }

    h5 {
        font-size: 17px;
        font-weight: 800;
        margin-left: 10px;
        span {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 600;
            background-color: #ED7374;
            border-radius: 5px;
            padding: 3px;
        }
    }

    h3 {
        font-size: 20px;
        margin: 0;
        padding: 0;
        font-weight: 300;

        small {

            font-size: 15px;
            font-weight: 400;
        }
    }

    .logout a {
        margin-bottom: 20px;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        float: right;
        font-size: 15px;
        font-weight: 600;
        margin-top: -10px;
        i {
            padding: 0;
            margin: 0;
            font-size: 15px;
            color: #49B1E5;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 200px;
        overflow-y: scroll;
        width: 100%;
        li {
            width: 100%;
        }
        li a{
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            height: auto;
            border-bottom: 1px solid #293244;
            .date {
                margin: 0;
                padding: 0;
                color: #7D8893;
                font-size: 12px;
            }

            .header {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }

            .message-icon {
                background-color: #293343;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                float: left;
                margin-right: 20px;
                i {
                    padding: 6px;
                    margin-left: 2px;
                    color: #586272;
                    line-height: 0px;
                }
            }

        }
    }

}   

li.profile:hover .profile-content {
    display: block;
    opacity: 1;
}

nav{

    margin-bottom: 20px;

    .nav-wrapper {
        background-color: #1D3B5A;
    }

    .button-collapse{
        padding-left: 10px;
    }
    
    .github-signin{
        background-color: $light-blue;
        border-radius: 5px;
    }
    
    ul a {
        padding-top: 13px;
        font-size: 16px;
        height: 51px;
    }
    
    .brand-logo{
        font-style: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        weight: 800;
        @include breakpoint(mobileonly){
            margin-top: 10px;
        }
        
        span {
            color: #1EC4D6;
        }

        margin-left: 20px;
        weight: 800;
    }

    .tab-nav {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: 48px;
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
        white-space: nowrap;
        background-color: #3A5E83;
        .tab{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            display: block;
            float: left;
            text-align: center;
            line-height: 48px;
            height: 48px;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            text-overflow: ellipsis;
            overflow: hidden;
            letter-spacing: .8px;
            width: 15%;
            min-width: 80px;

            img {
                width: 15px;
                height: auto;
            }


            a:hover{
                color: #4C7198;
                color: white;
            }

            a{  
                border-bottom: 2px solid #1EC4D6 !important;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: color .28s ease;
            }
        }

    }

}

.banner{
    margin-top: -40px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(../uploads/blueprint.png) top center #4C7198;

    .banner-cont{
        margin: auto;
        width: 80%;
        text-align: center;
        .element{
            font-weight: 800;
        }    

        h1 {
            margin-bottom: 23px;
            font-family: Circular, sans-serif;
            color: #fff;
            font-weight: 400;
            text-align: center;
            font-size: 36px;
            line-height: 40px;
            font-weight: 600;
            letter-spacing: -0.01em;
        }
        
        h3{
            font-size: 20px;
            color: #97F1F1;
        }

        .post-info {
            font-size: 18px;
            color: #C4CDCE;
            a{
                color: #C4CDCE;
            }
        }

        button.register-btn {
            background-color: #1EC4D6;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            height: 49px;
            padding-top: 11px;
            transition: all 100ms ease-in-out;
            font-family: Circular, sans-serif;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            margin-top: 20px;
        }
    }
    
}


.flexbox-courses{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    -webkit-align-content: space-around; /* Safari */
    align-content:         space-around;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}

.course-box {
    max-width: 380px;
    height: 100%;
    background-color: white;
}

.course-content{
    padding: 20px;
}

.course-image img{
    height: auto;
    width: 100%;
}

.course-action{
    height: 60px;
    padding: 20px;
    width: 100%;
}

.content{
    min-height: 100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    line-height:29px;

    .header-image img {
        width: 100%;
        height: auto;
    }

    .post-image{
        img {
            max-width: 360px;
        }
    }

    .post-content img {
        -webkit-box-shadow: 0px 3px 10px 1px rgba(102,102,102,1);
        -moz-box-shadow: 0px 3px 10px 1px rgba(102,102,102,1);
        box-shadow: 0px 3px 10px 1px rgba(102,102,102,1);
        max-width: 650px;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        display:block;
    }

    .amazon-link{
        margin: 20px 0px;
        padding: 30px 20px 30px 100px;
        background: #f8f8f8 url(../uploads/amazon.png) no-repeat 20px 50%;
        background-size: 65px 60px;
        background-repeat: no-repeat;
        font-weight: bold;
    }

    .recommended-articles{
        padding: 40px;
        background-color: white;
        margin-top: 40px;
        margin-bottom: 40px;

        h1{
            font-size: 25px;
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
        }
    }
    .icon{
            width: 80px;
            height: 80px;
            border-radius: 40px;
            background-color: #112F5A;
            color: white;
            padding-top: 7px;
            font-size: 48px;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            span{
                margin-left: 28px;
            }
        }
    
    .chip{
        background-color: $light-blue;
        color: white;
    }

    @include breakpoint(mobileonly){
        width: 90%;
        p{
            font-size: 16px;
        }
    }
    
    @include breakpoint(phablet){
        width: 90%;
    }
    
    @include breakpoint(tablet){
        width: 80%;
    }
    
    @include breakpoint(laptop){
        width: 95%;
    }
    
    h1, h2, h3, h4, h5{
        font-weight: normal;
        font-family: 'Museo Slab','Helvetica','Arial',sans-serif;
        letter-spacing: -1px;
        line-height: 1.3;
        margin: 10px 0;
    }
    
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 22px;
        font-weight: normal;
    }
    h4 {
        font-size: 18px;
        font-weight: normal;
    }
    h5 {
        font-size: 20px;
    }
    .info{
        margin-bottom: 20px;
        margin-top: 20px;
        color: $light-gray;
        p {
            margin: 0;
            padding: 0;
        }
    }   
    
    .tip{
        background-color: $pale-white;
        padding: 20px;
        text-align: center;
        .large{
            font-size: 24px;
            font-weight: 800;
            width: 100%;
        }
    }
    
    .post-body{
        background-color: white;
        padding: 40px;   

        ul.tags {
            list-style-type: none;
            margin: 0;
            overflow: hidden; 
            padding: 0;
        }

        .tags li {
            float: left; 
            list-style-type: none;
            margin: 0;
        }

        .tag {
            background-color: #1EC4D6;
            border-radius: 3px 0 0 3px;
            color: #fff;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 20px 0 23px;
            position: relative;
            margin: 0 10px 10px 0;
            text-decoration: none;
            -webkit-transition: color 0.2s;
        }

        .tag::before {
            background: #fff;
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: '';
            height: 6px;
            left: 10px;
            position: absolute;
            width: 6px;
            top: 10px;
        }

        .tag::after {
            background: #fff;
            border-bottom: 13px solid transparent;
            border-left: 10px solid #1EC4D6;
            border-top: 13px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }

        .tag:hover {
            background-color: #eee;
            color: #1EC4D6;
        }

        .tag:hover::after {
            border-left-color: #eee; 
        }

        .github-link {
            margin: 20px 0px;
            padding: 30px 20px 30px 100px;
            background: #f8f8f8 url(../uploads/github.png) no-repeat 20px 50%;
            font-weight: bold; }

            .note {
            margin: 20px 0px;
            padding: 30px 20px 30px 100px;
            background: #f8f8f8 url(../uploads/note.png) no-repeat 20px 50%;
            font-weight: bold; }

        blockquote {
            border-left: 4px solid #1EC4D6;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: -40px;
            margin-right: -40px;
            position: relative;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
            padding-right: 40px;
            background-color: #D7F9FD;
        }
        blockquote::before {
            content: "";
            background-color: #1EC4D6;
            background-image: url(/images/code.svg);
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: -21px;
            top: -20px;
            color: white;
            line-height: 0;
            width: 38px;
            height: 38px;
            border-radius: 100%;
            font-size: 30px;
            font-weight: 700;
        }


        > p > code { 
            background-color: #D7F9FD;
            border-radius: 5px; 
            padding: 5px;
        }
        pre {
            border-left: 4px solid #1EC4D6;
            position: relative;
            overflow: visible;
            white-space: pre;
            word-wrap: normal;
            color: #C1C2C3;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: -40px;
            margin-right: -40px;
            padding: 40px;
            background-color: #272822;
        }
        pre > code {
            border-radius: 5px; 
            padding: 5px;
            line-height: 24px;
            font-size: 14px;
        }

        pre::before {
            content: " ";
            background-color: #1EC4D6;
            background-image: url(/images/code.svg);
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: -21px;
            top: -20px;
            color: white;
            line-height: 0;
            width: 38px;
            height: 38px;
            border-radius: 100%;
            font-size: 30px;
            font-weight: 700;
        }

        img {
            max-width: 80%;
            height: auto;
            margin: auto;
        }  
        
        .post-title{  

            .info{
                float: left;
                padding-top: 14px;
                text-align: center;
                min-width: 95px;
                float: left;
                display: block;
                font-size: 16px;
                color: rgb(186, 186, 186);
                padding: 0px 12px;
                
                span{
                    display: inline;
                    margin-left: 40px;
                    margin-right: 40px;
                }
            
            }

            h1{
                margin-top: 0;
                font-size: 38px;
                margin-bottom: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid #ECEFF2;
            }
        }
        h1{
            font-size: 30px;
        }

        ul{
            li{
                list-style-type: circle;
                margin-left: 40px;
            }
        }

        
        .recommended-articles{
            
            .article{
                width: 100%;
                padding: 20px;
                border: 1px solid $pale-white;
                margin-bottom: 20px;
                
                h2{
                    margin: 0;
                    padding: 0;
                    margin-bottom: 10px;
                    font-size: 22px;
                }
                
                p{
                    color: $light-gray;
                    text-overflow:ellipsis;
                    font-size: 17px;  
                }
                
                .url{
                    font-size: 14px;
                }
                
            }
            
            
        }
    }
    
    .result{
        margin-bottom: 40px;
        button{
            background-color: $light-blue;
        }
        
    }
    
}

.search{
    
    .input-field{
        input{
            font-size: 23px;
        }
    }
    
    .search-results{
        
        .result{
            background-color: white;
        }
        
    }
    
}


.comment-container{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    .comments{
        margin: auto;
        margin-bottom: 20px;
        background-color: white;
        padding: 40px;
        .comment{
            margin-top: 20px;
            padding: 20px;
            width: 100%;
            background-color: white;
            
            i.comment-icon{
                color: $light-blue;
            }
            
            button{
                background-color: $light-blue;
                i{
                    color: white;
                }
            }
            
            .input-field{
                
                label{
                    .active{
                        color: $light-blue;
                    }
                }
                
            }
            
            h5{
                font-size: 16px;
                a{
                    color: #505b69;
                    margin: 1em 0;
                    line-height: 1.3em;
                    font-weight: 600;
                }
                
                .time-since{
                    color: #9ba6b5;
                }
            }
        }
    
    }
}

footer.page-footer{
    background-color: white;
    color: #aeaeae;
    margin-top: 0;
    a{
        color: #525252;
    }
    
    .footer-copyright{
        background-color: $footer-gray;
        color: #525252;
    }

}

.clear{
    clear:both;
}

.break{
    width: 100%;
    height: 40px;
    clear: both;
}

.pagination{
    margin: auto;
}

.center{
    text-align: center;
}

.article-progress{
    background-color: #F2F2F2;
    width: 100%;
    padding: 20px;
    
    @include breakpoint(mobileonly){
        display: none;
    }
    
    @include breakpoint(phablet){
        display: none;
    }
    
    @include breakpoint(tablet){
        display: block;
    }
    
    @include breakpoint(laptop){
        display: block;
    }
    
}
@media screen and (max-width: 1024px) {
    .left-sidebar {
        display: none !important;
    }
}

.sidebar {
    .twitter{
        background-color: $twitter;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

    .facebook{
        background-color: $facebook;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .youtube{
        background-color: $youtube;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .github{
        background-color: $github;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .course-info{
        padding: 40px;
        background-color: white;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .related-posts{
        background-color: white;
        padding: 40px;

        h2{
            margin: 0 0 2px;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
        }


        .post{
            margin-bottom: 20px; 
            .post-link a{
                h3{
                    margin: 0 0 2px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    color: #545454;
                }
            }

            .post-image img{
                width: 100%;
                max-height: 100px; 
            }

            p{
                color: #7a7a7a;
                margin: 0 0 35px;
                font-size: 16px;
                line-height: 24px;
            }
            
            .tags a{
                margin-right: 5px;
                color: #ababab;
            }

        }

    }

    .post-info{
        padding: 40px;
        background-color: white;
        
        .post-views{
            border-right: 1px solid #9c9c9c;
        }
        .post-author{
            border-top: 1px solid #9c9c9c;
        }
        .post-date {
            border-top: 1px solid #9c9c9c;
        }
    }

    .left-sidebar-content{
        padding: 40px;
        background-color: white;
        margin-bottom: 40px;
        p{
            color: $light-gray;
            text-align: center;
            margin-bottom: 20px;
        }

        h2{
            text-align: center;
            font-weight: 800;
        }

        h4{
            text-align: center;
            color: #A6A9AC;
        }

        img{
            display: block;
            margin: auto;
            width: 100%;
            height: auto;
            max-width: 150px;
            max-height: 150px;
            border-radius: 75px;
        }
    }

    .post-info{
        text-align: center;
        
        span{
            color: #272822;
            font-weight: 600;
            font-size: 26px;
            a{
                font-weight: 600;
                font-size: 26px;
            }
        }
    }

    .social-links{
        border-top: 1px solid #ECEFF2;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 10px;  
        margin-top: 20px;
        text-align: center;
        font-size: 15px;

        i {
            color: white;
        }

        .twitter{
            background-color: $twitter;
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }

        .facebook{
            background-color: $facebook;
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
        .youtube{
            background-color: $youtube;
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
        .github{
            background-color: $github;
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
    }

    p{
        color: #9a9a9a;
    } 

    .register{
        .register-btn{
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            color: white;
            font-size: 20px;
            height: auto;
            i{
                color: white;
                margin-right: 5px;
            }
        }
        
    }
}

.fixed {
    position: fixed;
    z-index: 10;
}