<div class="row">
  <div class="col-lg-8">
    <div class="component">
      <div class="header">
        <h2>Edit Course: {{ $ctrl.course.title }}</h2>
      </div>
      <div class="content">
        <div class="form-group">
          <label for="title">Course Title</label>
          <input type="text" class="form-control" ng-model="$ctrl.course.title"/>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea cols="30" rows="5" class="form-control" ng-model="$ctrl.course.description"></textarea>
        </div>
        <div class="form-group">
          <label for="body">Course Body</label>
          <textarea name="" id="" cols="30" rows="60" class="form-control" ng-model="$ctrl.course.body"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="component">
      <div class="header">
        <h2>Options</h2>
      </div>
      <div class="content">
        
        <div class="form-group">
          <label for="slug">Course Slug</label>
          <input type="text" class="form-control" ng-model="$ctrl.course.slug" placeholder="your-course-slug">
        </div>
        
        <div class="form-group">
          <label for="publishDate">Status</label>
          <select class="form-control">
            <option>Draft</option>
            <option>In Review</option>
            <option>Public</option>
          </select>
        </div>

        <div class="form-group">
          <label>Actions</label>
          <div class="row">
            <div class="col-lg-6">
              <button class="btn btn-outline-primary btn-block">Preview</button>
            </div>
            <div class="col-lg-6">
              <button class="btn btn-outline-primary btn-block" ng-click="$ctrl.save($ctrl.course)">Save New Course</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>