<div class="row">
  <div class="col-lg-8">
    <div class="component">
      <div class="header">
        <h2>User Profile: {{ $ctrl.user.name }}</h2>
      </div>
      <div class="content">
        <table class="table table-bordered">
          <thead>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Message</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ $ctrl.user.name }}</td>
              <td>{{ $ctrl.user.email }}</td>
              <td>{{ $ctrl.user.created_at }}</td>
              <td><button class="btn btn-outline-primary">Send Spam</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="component">
      <div class="header">
        <h2>Actions</h2>
      </div>
      <div class="content">
        <button class="btn btn-outline-primary">Edit User</button>
      </div>
    </div>
  </div>
</div>