<div class="component">
  <div class="header">
    <h2>OAuth Clients <i class="ion ion-chatboxes"></i></h2>
  </div>
  <div class="content">
      <table class="table table-striped table-bordered">
          <thead>
              <th>#</th>
              <th>Client ID</th>
              <th>Client Secret</th>
          </thead>
          <tbody>
              <tr ng-repeat="client in $ctrl.clients track by $index">
                  <td>{{ $index }}</td>
                  <td>{{ client }}</td>
                  <td>{{ client }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>